@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@import 'fumadocs-ui/css/preset.css';

/* path of `fumadocs-ui` relative to the CSS file */
@source '../../node_modules/fumadocs-ui/dist/**/*.js';

@import './variables.css';
@import './theme.css';

@layer theme, base, components, utilities;

@layer base {
  * {
    @apply border-border ring-ring;
  }

  body {
    @apply bg-bg text-fg tracking-wide antialiased;

    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-light uppercase;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-200);
}

*::selection {
  background-color: hsl(from var(--accent) h s l / 0.3);
}

.lucide {
  stroke-width: 1.5px;
}

ul li {
  padding-left: 0.5rem;
}
ul li::marker {
  color: var(--accent-200);
  content: '▪';
}
