@import "fumadocs-ui/css/preset.css";
@import "./theme.css";
@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border ring-ring;
  }

  body {
    @apply bg-bg tracking-wide text-fg antialiased;

    text-rendering: optimizeLegibility;
    overscroll-behavior-y: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-light uppercase;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--accent-200));
}

*::selection {
  background-color: hsl(var(--accent) / 0.3);
}

.lucide {
  stroke-width: 1.5px;
}

ul li {
  padding-left: 0.5rem;
}
ul li::marker {
  color: hsl(var(--contrast-2));
  content: "-";
}
